body{
    background-size: cover;
}

.form-control{
    background-color: powderblue;
    border-color: orange;
}

.navbar-brand{
    padding: 5px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 5px;
    text-shadow: orange -6px 7px 3px;
    margin-left: 75px;
    font-size: 25px;
  }

  .nav-link{
    padding: 8px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 5px ;
    text-shadow: orange -6px 7px 3px;
    font-size: 20px;
  }

  .header{
     font-size: 40px;
           text-shadow: orange -12px 8px 3px;
  }

  .copywrite{
      text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: powderblue;
    text-shadow: goldenrod -16px 12px 4px
  
  }
   .footer{
     border-style: solid;
     border-color: goldenrod;
     padding: 5px;
   }

   button{
    background-color: goldenrod;
    color: blue;
}
  

@media screen and (max-width:1600px){
    
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }

  #navbar-brand {
      width: 30%;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: left;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }

  section{
      padding: 3%;
      width: 100%;
      height: 700px;
  }

  header{
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }

  .contacts{
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }

.footer{
  border-style: solid;
  border-color: goldenrod;
  padding: 5px;
}

.copywrite{
    text-align: center;
}


}

@media screen and (max-width:1350px){
  
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }

  #navbar-brand {
      width: 30%;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }

  section{
      padding: 3%;
      width: 100%;
      height: 700px;
  }

  header{
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }
  .contacts{
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }

  .copywrite{
    text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: powderblue;
  text-shadow: goldenrod -16px 12px 4px

}
 .footer{
   border-style: solid;
   border-color: goldenrod;
   padding: 5px;
 }
 
}



@media screen and (max-width:1200px){
  
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }

  #navbar-brand {
      width: 30%;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }

  section{
      padding: 3%;
      width: 100%;
      height: 700px;
  }

  header{
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }

  .contacts{
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }


  footer{
  
      color: powderblue;
      text-align: center;
      font-size: 15px;
      padding: 2.5%;
  }

}

@media screen and (max-width:980px){
  
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }

  #navbar-brand {
      width: 30%;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }

  section{
      padding: 3%;
      width: 100%;
      height: 700px;
  }

  header{
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }

  .contacts{
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }
  


  
.footer{
    border-style: solid;
    border-color: goldenrod;
    padding: 5px;
  }

}

  @media screen and (max-width:768px){
  
      .navbar-expand-lg {
          width: 100%;
          padding: 0;
      }

      #navbar-brand {
          width: 30%;
          margin-left: 20px;
          padding: 10px;
          font-size: 20px;
          text-align: center;
          
      }
  
      .navbar-nav {
          text-align: right;
          width: 50%;
          padding: 0px;
          
      }

  
      ul li {
          display: inline-block;
          padding:1.5%
      }

      section{
          width: 100%;
          height: 800px;
          padding: 2.5%;
      }

      header{
         color: teal; 
      }

      .contacts{
          width: 100%;
          margin-left: 0px;
          margin-top: 12px;
          
          padding: 5%;

      }

      .footer{
        border-style: solid;
        border-color: goldenrod;
        padding: 5px;
      }

      
     }

      @media screen and (max-width:640px){
  
          .navbar-expand-lg {
              width: 100%;
              padding: 0;
          }

          #navbar-brand {
              width: 100%;
              margin: 0;
              padding: 15px;
              font-size: 25px;
              text-align: center;
          }
      
          .navbar-nav {
              text-align: center;
              display: inline-block;
              width: 100%;
              font-size: 13px;
          }
      
          ul li {
              display: inline-block;
              padding:1.0%
          }

          section{
              width: 100%;
              height: 800px;
              padding: 3%;
          }

          header{
              font-size: 25px;
              font-weight: 600;
              font-family: serif;
          }

          .contacts{
              width: 100%;
              padding: 5%;
          }
          
          .footer{
            border-style: solid;
            border-color: goldenrod;
            padding: 5px;
          }

          .textarea{
              height: 500px;
          }
          
        
           }